<!DOCTYPE html>
<link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet">
<html>
<head>
    <title>{% block title %}Mi Ap licación{% endblock %}</title>
    <!-- Aquí podrías incluir estilos CSS y scripts -->
</head>
<body>
    <header class="cabecerapagina">
        <nav>
            <ul class="menu">
                <a href="{{ url_for('main.home') }}">Inicio</a>
                <a href="{{ url_for('perro.index') }}">Perros</a>
                <a href="{{ url_for('adoptante.index') }}">Adoptantes</a>
                <a href="{{ url_for('empleado.index') }}">Empleados</a>
                <a href="{{ url_for('solicitud_adopcion.index') }}">Solicitudes de Adopción</a>
                <a href="{{ url_for('donacion.index') }}">Donaciones</a>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Mi Aplicación</p>
    </footer>
</body>
</html>
