<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>

                <li><a href="{{ url_for('perro.index') }}">Perros</a></li>
                <li><a href="{{ url_for('adoptante.index') }}">Adoptantes</a></li>
                <li><a href="{{ url_for('empleado.index') }}">Empleados</a></li>
                <li><a href="{{ url_for('solicitud_adopcion.index') }}">Solicitudes de Adopción</a></li>

            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
