{% extends "base.html" %}
{% block title %}Lista de Donaciones{% endblock %}
{% block content %}
    <h1>Lista de Donaciones</h1>
    <a href="{{ url_for('donacion.add') }}">Agregar Nueva Donación</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Donante</th>
            <th>Acciones</th>
        </tr>
        {% for donacion in donaciones %}
        <tr>
            <td>{{ donacion.idDonacion }}</td>
            <td>{{ donacion.monto }}</td>
            <td>{{ donacion.fecha }}</td>
            <td>{{ donacion.descripcion }}</td>
            <td>{{ donacion.donante.nombre }}</td>
            <td>
                <a href="{{ url_for('donacion.show', id=donacion.idDonacion) }}">Ver</a>
                <a href="{{ url_for('donacion.edit', id=donacion.idDonacion) }}">Editar</a>
                <a href="{{ url_for('donacion.delete', id=donacion.idDonacion) }}" onclick="return confirm('¿Estás seguro de eliminar esta donación?')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
