{% extends "base.html" %}
{% block title %}Detalles de la Donación{% endblock %}
{% block content %}
    <h1>Detalles de la Donación</h1>
    <p><strong>ID:</strong> {{ donacion.idDonacion }}</p>
    <p><strong>Monto:</strong> {{ donacion.monto }}</p>
    <p><strong>Fecha:</strong> {{ donacion.fecha }}</p>
    <p><strong>Descripción:</strong> {{ donacion.descripcion }}</p>
    <p><strong>Donante:</strong> {{ donacion.donante.nombre }} {{ donacion.donante.apellido }}</p>
    <a href="{{ url_for('donacion.index') }}">Volver</a>
{% endblock %}
