
<br>
<br>
    <div class="container mt-4">
        <h1 class="mb-4 text-center">Perros</h1>

        <!-- Formulario de búsqueda -->
        <form id="search-form" method="GET" action="{{ url_for('perro.index') }}" class="mb-4">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Buscar por nombre, raza, estado de salud..." value="{{ request.args.get('search', '') }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </div>
        </form>

        <a href="{{ url_for('perro.add') }}" class="btn btn-primary mb-3">Añadir Perro</a>
        <div class="table-responsive" id="perro-table">
            {% include 'perros/table.html' %}
        </div>

        <!-- Paginación -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if perros.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('perro.index', page=perros.prev_num, search=request.args.get('search', '')) }}" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                {% endif %}

                {% for page_num in perros.iter_pages() %}
                    {% if page_num %}
                        <li class="page-item {% if page_num == perros.page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('perro.index', page=page_num, search=request.args.get('search', '')) }}">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">…</span></li>
                    {% endif %}
                {% endfor %}

                {% if perros.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('perro.index', page=perros.next_num, search=request.args.get('search', '')) }}" aria-label="Siguiente">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <!--paginacion para que no se sature -->

    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const searchForm = document.getElementById('search-form');
        searchForm.addEventListener('input', (event) => {
            event.preventDefault();
            fetch(searchForm.action + '?' + new URLSearchParams(new FormData(searchForm)), {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById('perro-table').innerHTML = data;
            })
            .catch(error => console.error('Error:', error));
        });
    });
    </script>

