{% extends "base.html" %}
{% block title %}Editar Cuidado{% endblock %}
{% block content %}
    <h1>Editar Cuidado</h1>
    <form action="{{ url_for('cuidado.edit', id=cuidado.idCuidado) }}" method="post">
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" value="{{ cuidado.descripcion }}" required>
        
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" value="{{ cuidado.fecha }}" required>
        
        <label for="perro">Perro:</label>
        <select id="perro" name="perro">
            {% for perro in perros %}
            <option value="{{ perro.idPerro }}" {% if perro.idPerro == cuidado.perro_id %}selected{% endif %}>{{ perro.nombre }}</option>
            {% endfor %}
        </select>
        
        <label for="empleado">Empleado:</label>
        <select id="empleado" name="empleado">
            {% for empleado in empleados %}
            <option value="{{ empleado.idEmpleado }}" {% if empleado.idEmpleado == cuidado.empleado_id %}selected{% endif %}>{{ empleado.nombre }} {{ empleado.apellido }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Actualizar Cuidado</button>
    </form>
    <a href="{{ url_for('cuidado.index') }}">Volver</a>
{% endblock %}
