{% extends "base.html" %}
{% block title %}Editar Adoptante{% endblock %}
{% block content %}
    <h1>Editar Adoptante</h1>
    <form action="{{ url_for('adoptante.edit', id=adoptante.idAdoptante) }}" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" value="{{ adoptante.nombre }}" required>

        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" value="{{ adoptante.apellido }}" required>

        <label for="pais">País</label>
        <input type="text" id="pais" name="pais" value="{{ adoptante.pais }}" required>

        <label for="ciudad">Ciudad</label>
        <input type="text" id="ciudad" name="ciudad" value="{{ adoptante.ciudad }}" required>

        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" name="direccion" value="{{ adoptante.direccion }}" required>

        <label for="telefono">Teléfono</label>
        <input type="text" id="telefono" name="telefono" value="{{ adoptante.telefono }}" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{ adoptante.email }}" required>

        <button type="submit">Guardar</button>
    </form>
{% endblock %}
