{% extends "base.html" %}
{% block title %}Donaciones del Donante{% endblock %}
{% block content %}
    <h1>Donaciones de {{ donante.nombre }} {{ donante.apellido }}</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Descripción</th>
        </tr>
        {% for donacion in donante.donaciones %}
        <tr>
            <td>{{ donacion.idDonacion }}</td>
            <td>{{ donacion.monto }}</td>
            <td>{{ donacion.fecha }}</td>
            <td>{{ donacion.descripcion }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('donante.index') }}">Volver</a>
{% endblock %}
