<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
	<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
	<!-- SideBar Menu -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				HAPPY PAWS <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="{{ url_for('static', filename='imagenes/avatar.jpg') }}" alt="UserIcon">
					<figcaption class="text-center text-titles">Veterinario</figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="#!">
							<i class="zmdi zmdi-settings"></i>
						</a>
					</li>
					<li>
						<a href="#!" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="{{ url_for('veterinario.index') }}">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Dashboard
					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Administración <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{{ url_for('veterinario.perrosvete') }}"><box-icon name='dog' type='solid' color='#ffffff'></box-icon> Perros</a>
						</li>
						<li>
							<a href="visitas_medicas.html"><box-icon name='plus-medical' color='#ffffff'></box-icon> Visitas Médicas</a>
						</li>
						<li>
							<a href="veterinarios.html"><box-icon name='male' color='#ffffff'></box-icon> Veterinarios</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-Notifications-area">
						<i class="zmdi zmdi-notifications-none"></i>
						<span class="badge">7</span>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles">Veterinario <small>VIP</small></h1>
			</div>
		</div>
		<div class="full-box text-center" style="padding: 30px 10px;">
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Perros
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-dog"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box" id="cantidad-perros">7</p>
					<small>Cantidad</small>
				</div>
			</article>
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Veterinarios
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-male-alt"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box">10</p>
					<small>Cantidad</small>
				</div>
			</article>
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Visitas Médicas
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-hospital"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box" id="cantidad-solicitudes">70</p>
					<small>Cantidad</small>
				</div>
			</article>
		</div>
	</section>

	<!-- Notifications area -->
	<section class="full-box Notifications-area">
		<div class="full-box Notifications-bg btn-Notifications-area"></div>
		<div class="full-box Notifications-body">
			<div class="Notifications-body-title text-titles text-center">
				Notificaciones <i class="zmdi zmdi-close btn-Notifications-area"></i>
			</div>
			<div class="list-group">
				{% for mensaje_contacto in mensajes %}
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="zmdi zmdi-alert-triangle"></i>
					</div>
					<div class="row-content">
						<div class="least-content">Hace un momento</div>
						<h4 class="list-group-item-heading">{{ mensaje_contacto.nombre }}</h4>
						<p class="list-group-item-text">{{ mensaje_contacto.mensaje }}</p>
					</div>
				</div>
				<div class="list-group-separator"></div>
				{% endfor %}
			</div>
		</div>
	</section>

	<!-- Dialog help -->
	<div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Ayuda</h4>
				</div>
				<div class="modal-body">
					<p>
						Aquí puedes agregar información de ayuda para los usuarios.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-raised" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> Ok</button>
				</div>
			</div>
		</div>
	</div>
	<!--====== Scripts -->
	<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/material.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/ripples.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	<script>
		$.material.init();

		function actualizarCantidadPerros() {
			fetch('{{ url_for("empleado.count_perros") }}')
				.then(response => response.json())
				.then(data => {
					document.getElementById('cantidad-perros').innerText = data.cantidad_perros;
				})
				.catch(error => console.error('Error:', error));
		}

		function actualizarCantidadSolicitudes() {
			fetch('{{ url_for("empleado.count_solicitudes") }}')
				.then(response => response.json())
				.then(data => {
					document.getElementById('cantidad-solicitudes').innerText = data.cantidad_solicitudes;
				})
				.catch(error => console.error('Error:', error));
		}

		// Actualizar la cantidad de perros y solicitudes cada 10 segundos
		setInterval(() => {
			actualizarCantidadPerros();
			actualizarCantidadSolicitudes();
		}, 10000);

		// Actualizar la cantidad de perros y solicitudes al cargar la página
		actualizarCantidadPerros();
		actualizarCantidadSolicitudes();
	</script>

</body>
</html>