<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th> 
            <th>Nombre</th>
            <th>Raza</th>
            <th>Edad</th>
            <th>Estado de Salud</th>
            <th>Estado</th>
            <th>Color</th>
            <th>Fecha de Ingreso</th>
            <th>Acciones</th>
            
        </tr>
    </thead>
    <tbody>
        {% for perro in perros.items %}
            <tr>
                <td>{{ perro.idPerro }}</td>
                <td>{{ perro.nombre }}</td>
                <td>{{ perro.raza }}</td>
                <td>{{ perro.edad }}</td>
                <td>{{ perro.estadoSalud }}</td>
                <td>{{ perro.estado }}</td>
                <td>{{ perro.color }}</td>
                <td>{{ perro.fechaIngreso }}</td>
                <td>
                    <a href="{{ url_for('perro.show', id=perro.idPerro) }}" class="btn btn-action btn-sm">Ver</a>
                    <a href="{{ url_for('perro.editperrosvete', id=perro.idPerro) }}" class="btn btn-action btn-sm">Editar</a>
                    <a href="{{ url_for('perro.delete', id=perro.idPerro) }}" class="btn btn-action btn-sm">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
