{% extends "base.html" %}

{% block content %}
<h1>Lista de Préstamos</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>ID de Computadora</th>
            <th>ID de Usuario</th>
            <th>Fecha de Préstamo</th>
            <th>Fecha de Devolución</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for loan in loans %}
        <tr>
            <td>{{ loan.idLoan }}</td>
            <td>{{ loan.computerId }}</td>
            <td>{{ loan.userId }}</td>
            <td>{{ loan.loanDate.strftime('%Y-%m-%d') }}</td>
            <td>{{ loan.returnDate.strftime('%Y-%m-%d') if loan.returnDate else 'N/A' }}</td>
            <td>{{ loan.status }}</td>
            <td>
                <div class="d-flex justify-content-between">
                    <a href="{{ url_for('cloans.edit', id=loan.idLoan) }}" class="btn btn-sm btn-primary">
                        Editar
                    </a>
                    <form action="{{ url_for('cloans.delete', id=loan.idLoan) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                    </form>
                    {% if loan.status == 'Active' %}
                    <form action="{{ url_for('cloans.return_computer', id=loan.idLoan) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-success">Devolver</button>
                    </form>
                    {% else %}
                    <span class="btn btn-sm btn-secondary disabled">Devolver</span>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('cloans.add') }}" class="btn btn-primary">Agregar Préstamo</a>
{% endblock %}
