{% extends "base.html" %}
{% block title %}Detalles del Veterinario{% endblock %}
{% block content %}
    <h1>Detalles del Veterinario</h1>
    <p><strong>ID:</strong> {{ veterinario.id }}</p>
    <p><strong>Nombre:</strong> {{ veterinario.nombre }}</p>
    <p><strong>Apellido:</strong> {{ veterinario.apellido }}</p>
    <p><strong>Especialidad:</strong> {{ veterinario.especialidad }}</p>
    <p><strong>Teléfono:</strong> {{ veterinario.telefono }}</p>
    <p><strong>Email:</strong> {{ veterinario.email }}</p>
    <a href="{{ url_for('veterinario.index') }}">Volver</a>
{% endblock %}
