
    <div class="container mt-5">
        <h1 class="mb-5 text-center">Editar Caninos</h1>

        <form action="{{ url_for('perro.edit', id=perro.idPerro) }}" method="post" enctype="multipart/form-data" class="shadow p-4 rounded bg-light">
            <!-- Nombre -->
            <div class="form-group mb-4">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ perro.nombre }}" required>
            </div>
            
            <!-- Raza -->
            <div class="form-group mb-4">
                <label for="raza" class="form-label">Raza</label>
                <input type="text" class="form-control" id="raza" name="raza" value="{{ perro.raza }}">
            </div>
            
            <!-- Edad -->
            <div class="form-group mb-4">
                <label for="edad" class="form-label">Edad</label>
                <input type="number" class="form-control" id="edad" name="edad" value="{{ perro.edad }}">
            </div>
            
            <!-- Estado de Salud -->
            <div class="form-group mb-4">
                <label for="estadoSalud" class="form-label">Estado de Salud</label>
                <select class="form-control" id="estadoSalud" name="estadoSalud">
                    <option value="Saludable" {% if perro.estadoSalud == "Bueno" %}selected{% endif %}>Bueno</option>
                    <option value="Enfermo" {% if perro.estadoSalud == "Regular" %}selected{% endif %}>Regular</option>
                    <option value="Recuperándose" {% if perro.estadoSalud == "Malo" %}selected{% endif %}>Malo</option>
                    <option value="Herido" {% if perro.estadoSalud == "Muy malo" %}selected{% endif %}>muy malo</option>
                </select>
            </div>
            
            <!-- Estado -->
            <div class="form-group mb-4">
                <label for="estado" class="form-label">Estado</label>
                <select id="estado" name="estado" class="form-select">
                    <option value="en adopcion" {% if perro.estado == 'en adopcion' %}selected{% endif %}>EN ADOPCIÓN</option>
                    <option value="en proceso de adopcion" {% if perro.estado == 'en proceso de adopcion' %}selected{% endif %}>EN PROCESO DE ADOPCIÓN</option>
                    <option value="adoptado" {% if perro.estado == 'adoptado' %}selected{% endif %}>ADOPTADO</option>
                </select>
            </div>

            <!-- Color -->
            <div class="form-group mb-4">
                <label for="color" class="form-label">Color</label>
                <input type="text" class="form-control" id="color" name="color" value="{{ perro.color }}">
            </div>

            <!-- Foto -->
            <div class="form-group mb-4">
                <label for="foto" class="form-label">Foto</label>
                <input type="file" class="form-control-file" id="foto" name="foto">
            </div>
            
            <!-- Fecha de Ingreso -->
            <div class="form-group mb-4">
                <label for="fechaIngreso" class="form-label">Fecha de Ingreso</label>
                <input type="date" class="form-control" id="fechaIngreso" name="fechaIngreso" value="{{ perro.fechaIngreso }}">
            </div>
            
            <!-- Descripción -->
            <div class="form-group mb-5">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea id="descripcion" name="descripcion" class="form-control" rows="4">{{ perro.descripcion }}</textarea>
            </div>
            
            <!-- Botón Guardar Cambios -->
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">Guardar Cambios</button>
            </div>
        </form>
    </div>

