









































<!--{% extends "base.html" %}
{% block title %}Agregar Visita Médica{% endblock %}
{% block content %}
    <h1>Agregar Nueva Visita Médica</h1>
    <form method="POST">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required>
        <br>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required></textarea>
        <br>

        <label for="perro_id">Perro:</label>
        <select id="perro_id" name="perro_id" required>
            {% for perro in perros %}
            <option value="{{ perro.idPerro }}">{{ perro.nombre }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="veterinario_id">Veterinario:</label>
        <select id="veterinario_id" name="veterinario_id" required>
            {% for veterinario in veterinarios %}
            <option value="{{ veterinario.id }}">{{ veterinario.nombre }} {{ veterinario.apellido }}</option>
            {% endfor %}
        </select>
        <br>

        <input type="text" name="idPerro" required>
        <input type="text" name="idVeterinario" required>
        <br>

        <button type="submit">Agregar Visita</button>
    </form>
    <a href="{{ url_for('visita_medica.index') }}">Volver</a>
{% endblock %}-->
