<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-body-tertiary fixed-top">
    <link href="{{url_for('static',filename='home/styles.css')}}" rel="stylesheet">
    <div class="container-fluid px-4 py-4">
        <a class="navbar-brand" href="#">
        <img src="https://i.pinimg.com/originals/cb/83/63/cb8363735ab174defb79b1b6f164a5e2.jpg" alt="logo" width="50"
            height="50">
        HappyPaws
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('main.home') }}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-lg" href="">Adopciones</a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-lg " href="{{ url_for('main.about') }}">About us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-lg " href="{{ url_for('veterinario.index') }}">Como ayudar</a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-lg " href="{{ url_for('solicitud_adopcion.index') }}">Contactanos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link mx-lg ">Donaciones</a>
            </li>
        </ul>
        </div>
        <a href="#" class="login-button">Login</a>
        <a href="#" class="login-button">Register</a>
    </div>
    </nav>

    <section class="parallax-container" data-parallax-img="/ONG-pagina/project ong/app/static/images/bg-breadcrumbs-about.jpg">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h2 class="breadcrumbs-custom-title">About Us</h2>
                <ul class="breadcrumbs-custom-path">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">About Us</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-gray-1 bg-gray-1-decor">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-6 pr-xl-5"><img src= "{{ url_for( 'static' , filename=' images/about-us-1-518x430.jpg') }}" alt="" width="518" height="430"/>
            </div>
            <div class="col-lg-6">
              <h3>About Helper</h3>
              <div class="text-with-divider">
                <div class="divider"></div>
                <h4 class="text-opacity-70">We are committed to helping wounded kids find their place.</h4>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesqu</p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-default">
        <div class="container">
          <h3 class="text-center">Our Mission</h3>
          <div class="row row-30 row-md-40 row-xl-60">
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-triangle"><span class="icon-xl linearicons-earth icon-primary"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Achieving Change</a></h4>
                  <p>Grandis, albus decors etiam desiderium de noster, clemens vita.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-circle"><span class="icon-xl linearicons-umbrella2 icon-primary"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Care &amp; Protection</a></h4>
                  <p>Cum advena peregrinationes, omnes brabeutaes manifestum germanus.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-rectangle"><span class="icon-xl linearicons-baby2 icon-primary"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Saving Children</a></h4>
                  <p>Cum zirbus favere, omnes habenaes talem barbatus, brevis fraticinidaes.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-rectangle"><span class="icon-xl linearicons-sun icon-primary"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Peace On The Planet</a></h4>
                  <p>Cum solitudo favere, omnes exsules consumere superbus, pius fermiumes.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-triangle"><span class="icon-xl linearicons-leaf icon-primary icon-xl-min"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Increasing Awareness</a></h4>
                  <p>Cum lixa accelerare, omnes xiphiases tractare festus, regius demolitionees.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="box-icon-modern">
                <div class="box-icon-inner decorate-circle"><span class="icon-xl linearicons-share2 icon-primary"></span></div>
                <div class="box-icon-caption">
                  <h4><a href="#">Sharing Happiness</a></h4>
                  <p>Cum aonides peregrinationes, omnes nutrixes experientia lotus, alter lixaes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-gray-1">
        <div class="container">
          <h3 class="text-center">Our Team</h3>
          <div class="row no-gutters">
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="/project ong/app/static/images/team-classic-1-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Jane Smith</a></h4>
                  <p>Executive director</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="images/team-classic-2-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Albert Martinez</a></h4>
                  <p>Adoption program Director</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="images/team-classic-3-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Ann Allen</a></h4>
                  <p>Educational program Director</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="/images/team-classic-4-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Evelyn Perez</a></h4>
                  <p>IT Director</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="/images/team-classic-5-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Daniel Bryant</a></h4>
                  <p>Community support Manager</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="team-classic">
                <div class="team-classic-figure"><img src="/images/team-classic-6-390x252.jpg" alt="" width="390" height="252"/>
                  <ul class="team-classic-soc-list">
                    <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md fa-twitter" href="#"></a></li>
                  </ul>
                </div>
                <div class="team-classic-caption">
                  <h4><a class="team-name" href="#">Louis Powell</a></h4>
                  <p>Assistant property Manager</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><a class="section section-banner" href="https://www.templatemonster.com/website-templates/monstroid2.html" style="background-image: url(images/banner/background-03-1920x310.jpg); background-image: -webkit-image-set( url(images/banner/background-03-1920x310.jpg) 1x, url(images/banner/background-03-3840x620.jpg) 2x )" target="_blank"><img src="images/banner/foreground-03-1600x310.png" srcset="images/banner/foreground-03-1600x310.png 1x, images/banner/foreground-03-3200x620.png 2x" alt="" width="1600" height="310"></a>